<h1>Details</h1>

<div ng-controller="detailsCtrl">
  
  <h4>Contacts table</h4>
  
  <table ng-show="contacts1.length > 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th><a href="" ng-click="orderBy('id')">Id</a></th>
          <th><a href="" ng-click="orderBy('nome')">Name</a></th>
          <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
          <th><a href="" ng-click="orderBy('operator')">Operator</a></th>
          <th><a href="" ng-click="orderBy('date')">Date</a></th>
        </tr>
      </thead>

      <tbody>

        <tr ng-class="{ selected : c.selected }" ng-repeat="c in contacts1| filter:search | orderBy:orderByField:directionoOfOrder">
          <td><input type="checkbox" ng-model="c.selected" /></td>
          <td><a ui-sref="default.details({id : c.id})">{{c.id}}</a></td>
          <td>{{c.name| name | ellipsis:10}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.operator.name| lowercase}}</td>
          <td>{{c.date| date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>

    </table>
  <table ng-show="contacts2.length > 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th><a href="" ng-click="orderBy('id')">Id</a></th>
          <th><a href="" ng-click="orderBy('nome')">Name</a></th>
          <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
          <th><a href="" ng-click="orderBy('operator')">Operator</a></th>
          <th><a href="" ng-click="orderBy('date')">Date</a></th>
        </tr>
      </thead>

      <tbody>

        <tr ng-class="{ selected : c.selected }" ng-repeat="c in contacts2| filter:search | orderBy:orderByField:directionoOfOrder">
          <td><input type="checkbox" ng-model="c.selected" /></td>
          <td><a ui-sref="default.details({id : c.id})">{{c.id}}</a></td>
          <td>{{c.name| name | ellipsis:10}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.operator.name| lowercase}}</td>
          <td>{{c.date| date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>

    </table>
  <table ng-show="contacts3.length > 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th><a href="" ng-click="orderBy('id')">Id</a></th>
          <th><a href="" ng-click="orderBy('nome')">Name</a></th>
          <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
          <th><a href="" ng-click="orderBy('operator')">Operator</a></th>
          <th><a href="" ng-click="orderBy('date')">Date</a></th>
        </tr>
      </thead>

      <tbody>

        <tr ng-class="{ selected : c.selected }" ng-repeat="c in contacts3| filter:search | orderBy:orderByField:directionoOfOrder">
          <td><input type="checkbox" ng-model="c.selected" /></td>
          <td><a ui-sref="default.details({id : c.id})">{{c.id}}</a></td>
          <td>{{c.name| name | ellipsis:10}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.operator.name| lowercase}}</td>
          <td>{{c.date| date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>

    </table>
  <table ng-show="contacts4.length > 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th><a href="" ng-click="orderBy('id')">Id</a></th>
          <th><a href="" ng-click="orderBy('nome')">Name</a></th>
          <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
          <th><a href="" ng-click="orderBy('operator')">Operator</a></th>
          <th><a href="" ng-click="orderBy('date')">Date</a></th>
        </tr>
      </thead>

      <tbody>

        <tr ng-class="{ selected : c.selected }" ng-repeat="c in contacts4| filter:search | orderBy:orderByField:directionoOfOrder">
          <td><input type="checkbox" ng-model="c.selected" /></td>
          <td><a ui-sref="default.details({id : c.id})">{{c.id}}</a></td>
          <td>{{c.name| name | ellipsis:10}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.operator.name| lowercase}}</td>
          <td>{{c.date| date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>

    </table>
  
  
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="l in list">{{ l.id }} - Cras justo odio</li>
  </ul>
  
  <select class="form-control" ng-model="contact.operator" ng-options="operator.name + ' (' + (operator.price | currency) + ')' group by operator.category for operator in operators | orderBy:'name'">
    <option value="">Select one operator</option>
  </select>

  
</div>