
<div class="alert" 
     ng-class="{
        'alert-info': isInfo, 
        'alert-warning' : isWarning,
        'alert-danger' : isDanger,
        'alert-success' : isSuccess
     }"
     ng-show="show">

  <span ng-if="isInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span ng-if="isWarning" class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span ng-if="isDanger" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
  <span ng-if="isSuccess" class="glyphicon glyphicon-ok" aria-hidden="true"></span>

  <strong>{{title}}</strong>
  <span>{{message}}</span>
  
  <button type="button" class="close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

