<!DOCTYPE html>
<html ng-app="phonebook">
  <head>

    <title>Phonebook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.6/css/bootstrap.min.css">
    
    
    <style>
      .jumbotron, .footer{
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
      
      .selected {
        background: yellow;
      }
      
    </style>
    
    <script src="libs/angular-1.5.5/angular.min.js"></script>
    
    <script>
      var app = angular.module("phonebook", []);
      app.controller("phonebookCtrl", function($scope){
        $scope.app = "Phonebook!";
        
        $scope.contacts = [
          {name : "Pedro", phone : "99998888"},
          {name : "Ana", phone : "99998555"},
          {name : "Maria", phone : "99998777"}
        ];
        
        $scope.operators = [
          {name : "Oi", code : 14, category : "Mobile"},
          {name : "Tim", code : 41, category : "Mobile"},
          {name : "Vivo", code : 15, category : "Mobile"},
          {name : "GVT", code : 25, category : "Landline"},
          {name : "Embratel", code : 21, category : "Landline"}
        ];
        
        $scope.addContact = function(contact){
          $scope.contacts.push(angular.copy(contact));
          delete $scope.contact;
        };
        
        $scope.removeContact = function(contacts){
          $scope.contacts = contacts.filter(function( c ) {
            if (!c.selected) {
              return c;
            }            
          });
        };
        
        $scope.isContactSelected = function(contacts){
          return contacts.some(function( c ) {
            return c.selected;
          });
        };

      });
      
    </script>
    
  </head>
  <body>

    <div ng-controller="phonebookCtrl">
      
      <div class="jumbotron">
        <h3> {{ app }} </h3>
        
        <table ng-show="contacts.length > 0" class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Phone</th>
              <th>Operator</th>
            </tr>
          </thead>
          
          <tbody>
            
            <tr ng-class="{ selected : c.selected }" ng-repeat="c in contacts">
              <td><input type="checkbox" ng-model="c.selected" /></td>
              <td>{{c.name}}</td>
              <td>{{c.phone}}</td>
              <td>{{c.operator.name}}</td>
            </tr>
          </tbody>
            
        </table>
        
        <hr>
        
        <input class="form-control" type="text" placeholder="Name" ng-model="contact.name">
        <input class="form-control" type="text" placeholder="Phone" ng-model="contact.phone">
        
        <select class="form-control" ng-model="contact.operator" ng-options="operator.name group by operator.category for operator in operators">
          <option value="">Select one operator</option>
        </select>
        
        <button class="btn btn-primary btn-block" 
          ng-click="addContact(contact)"
          ng-disabled="!contact.name || !contact.phone"
        >Add contact</button>
        
        <button class="btn btn-danger btn-block" 
          ng-click="removeContact(contacts)"
          ng-if="isContactSelected(contacts)"
        >Remove contact</button>
        
      </div>

    </div>

    <div class="footer" ng-include="'footer.html'"></div>
  </body>
  
</html>
